<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Management System</title>
  <link rel="stylesheet" href="/style1.css">
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
  <header class="header">
    <nav class="navbar">
      <h1 class="logo"><a href="#">Restaurant<span>Hub</span></a></h1>
      <ul class="nav-links">
        <li><a href="menu">Menu</a></li>
        <li><a href="reservation">Reservations</a></li>
        <li><a href="mycart">My Cart</a></li>
        <li><a href="catering">Catering</a></li>
        <li><% if (user) { %>
          <p class="text-neutral  -100">Hello, <%= user %>! <a href="/logout">Logout</a></p>
      <% } else { %>
          <p><a href="/login">Login</a> | <a href="/signup">Signup</a></p>
      <% } %>
      <% if (successMsg.length) { %>
          <div class="alert alert-success"><%= successMsg %></div>
      <% } %>
      <% if (errorMsg.length) { %>
          <div class="alert alert-danger"><%= errorMsg %></div>
      <% } %>
        </li>

      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h2>  RESTAURANT <span>HUB</span></h2>
      <p>Manage orders, customers, reservations, and deliveries all in one place. Stay organized and provide the best dining experience.</p>
      <a href="delivery.html" class="cta-button">Get Started</a>
    </div>
  </section>

  <section class="features">
    <div class="feature-card">
      <h3>Order Management</h3>
      <p>Track and manage all orders efficiently from one dashboard.</p>
    </div>
    <div class="feature-card">
      <h3>Customer Engagement</h3>
      <p>Keep your customers happy with personalized service.</p>
    </div>
    <div class="feature-card">
      <h3>Seamless Reservations</h3>
      <p>Manage dining table and banquet hall reservations smoothly.</p>
    </div>
  </section>

  <footer>
    <p>&copy;  RestaurantHub | All Rights Reserved</p>
  </footer>

</body>
</html>
